/*
.wy-nav-content {
    padding: 1.618em 3.236em;
    height: 100%;
    max-width: 1000px;
    margin: auto;
    background-color: #ffffff;
}
*/

/*
.wy-nav-content-wrap {
    background-color: white;
}
*/

/* HyperEDU Style */
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

footer {
  font-family: 'Oswald', sans-serif;
}

h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  color: #05989F;
}

h1 {
  font-family: 'Oswald', sans-serif;
  color: #1F497D;
}

p.caption {
  font-family: 'Oswald', sans-serif;
/*  letter-spacing: 4px; */
}

.rst-content .toctree-wrapper p.caption {
  font-family: 'Oswald', sans-serif;
}

.wy-menu-vertical header {
  color: #1F497D;
}

.wy-menu-vertical a {
  font-family: 'Open Sans', sans-serif;
  color: #696969;
}

.wy-side-nav-search {
  background-color: #d9e1dd;
  background-image: url("../img/logo_background.jpg");
  background-size: cover;
  background-opacity: 0.5
}

.wy-side-nav-search > div.version {
  color: rgba(255,255,255,0.7); /*increase version number opacity*/
}

.wy-nav-side {
  background: #D9E1DD;
}

/*
.wy-menu-vertical li.current {
    background: #00FF00;
}
*/

/* inline markups*/
.menuselection {
  border:1px dashed #7fbbe366;
  background:#f1f9ff;
  font-size:95%;
  font-weight:700;
  border-radius:1px;
  padding:0px 3px;
  margin:auto 2px
}

.rst-content .guilabel {
  border:1px solid #7fbbe366;
  background:#f1f9ff;
  font-size:95%;
  font-weight:700;
  border-radius:1px;
  padding:0px 3px;
  margin:auto 2px
}

.kbd {
  font-weight: bold;
  border: 1px solid #ddd;
  background: #eee;
  color: #E22;
  border-radius:3px;
  padding-left: 3px;
  padding-right: 3px;
}

/*
.menuselection {
    font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
    font-style: italic;
    font-weight: bold;
}
*/

/*
.guilabel {
 border:1px solid #7fbbe3;
 background:#e7f2fa;
 font-size:80%;
 font-weight:700;
 border-radius:4px;
 padding:2.4px 6px;
 margin:auto 2px
}
*/